@charset "utf-8";

/*
 
最新最全最好的Bootstrap模板：http://www.bootstrapmb.com
 
*/

/* *{margin: 0;padding: 0;font-family: "微软雅黑";} */
.clearfix:after {content: ".";display: block;height: 0;visibility: hidden;clear: both;}
.w1100 {width: 1100px;margin: 0 auto;}
.fl {float: left;}
a{text-decoration: none;}
ul{list-style: none;}
/*注册*/
.register-bottom { padding: 50px 0 45px; text-align: center; background: #488aff url(../images/register-tip.png) no-repeat center -206px;}
.register-bottom .title { line-height: 40px; color: #fff;}
.register-bottom form { width: 454px; margin: 20px auto 0;}
.register-bottom form .register-phone { width: 290px; height: 46px; padding: 0 15px; font-size: 14px; background: #fff; border: 1px solid #fff; border-radius: 4px 0 0 4px;}
.register-bottom .btn { display: block; width: 130px; height: 46px; padding: 0; font-size: 16px; line-height: 46px; color: #fff; vertical-align: middle; background: #488aff; border: 1px solid #fff; border-radius: 0 4px 4px 0; transition: all .3s;}
.register-bottom .btn:hover { color: #fff; background: #407fff;}
/*消息*/
.validInfo{background-color: rgba(0,0,0,.6);width: 190px;height: 48px;line-height: 48px;text-align: center;color: #fff;border-radius: 2px;position: absolute;left: 50%;transform: translateX(-50%);top: 110px;font-size: 14px;display: none;} 
/*底部*/
.site-footer { font-size: 14px; line-height: 1.8; color: #a8aaba; background: #32333b;}
.site-footer a { color: #a8aaba;}
.site-footer a:hover { color: #f44 !important;}
.site-footer .footer-article { padding: 30px 0 20px; overflow: hidden;}
.site-footer .contact { float: left; width: 280px;}
.site-footer .contact dt { width: 90px;}
.site-footer .contact .iconfont { width: 66px;height: 66px; display: block;float: left;background: url(../images/kefu.png) center center no-repeat;background-size: 55px;}
.site-footer .contact .text { font-size: 14px; line-height: 30px; color: #fff;}
.site-footer .contact .tel { padding: 3px 0 15px; font-size: 20px; color: #fff;}
.site-footer .contact a { display: block; width: 90px; font-size: 14px; line-height: 30px; color: #9b9ea0; text-align: center; border: 1px solid #9b9ea0; border-radius: 4px;}
.site-footer .contact a:hover { color: #fff !important;}
.site-footer .col-article { float: left; width: 171px;}
.site-footer .col-article dt { margin-bottom: 15px; font-size: 16px; font-weight: normal; color: #d7d8d9;}
.site-footer .col-article dd { margin-bottom: 8px; overflow: hidden;}
.site-footer .col-article dd a { font-size: 12px; color: #9b9ea0; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}
.site-footer .wx { float: left; width: 135px; margin-right: 0;}
.site-footer .wx dt { margin-bottom: 15px; font-size: 16px; font-weight: normal; color: #d7d8d9;}
.site-footer .wx dd { margin-bottom: 15px;}
.site-footer .wx dd img { display: block; width: 110px; height: 110px; margin: 5px 0; border-radius: 2px;}
.site-footer .wx dd.other { margin-bottom: 0; line-height: 18px;}
.site-footer .wx dd.other span { display: block; font-size: 12px;}
.site-footer .wx dd.other a { display: inline-block; margin-right: 5px; font-size: 12px; line-height: 18px; vertical-align: top;}
.footer-links { padding: 10px 0; border-top: 1px solid #41424c; border-bottom: 1px solid #41424c;}
.footer-links p { font-size: 14px; color: #a8aaba;}
.footer-links a { margin-right: 20px; font-size: 12px; color: #a8aaba;}
.footer-info .info-text { padding: 20px 0; font-size: 12px; text-align: center;}
.footer-info .info-text .nav-bottom { padding: 20px 0 5px; font-size: 14px; color: #ccc; text-align: center;}
.footer-info .info-text .nav-bottom a { padding: 0 8px; color: #9b9ea0;}
.footer-info .info-text .copyright { padding-top: 5px;}
.footer-info .info-text em { padding: 0 8px;}
